@import "./partials/variables";
@import "./partials/baseStyles";
@import "./partials/setup";
@import "./partials/app";
@import "./partials/home";
@import "./partials/register";
@import "./partials/about";
@import "./partials/jobListing";
@import "./partials/errorPage";
@import "./mediaQueries/home";