@import "./partials/variables";
@import "./partials/baseStyles";
@import "./partials/setup";
@import "./partials/app";
@import "./partials/home";
@import "./partials/register";
@import "./partials/about";
@import "./partials/jobListing";
@import "./partials/postJob";
@import "./partials/errorPage";
@import "./partials/contact";
@import "./partials/hamburger";
@import "./mediaQueries/home";
@import "./mediaQueries/jobListing";
@import "./mediaQueries/job";
@import "./mediaQueries/register";
@import "./mediaQueries/loginModal";
@import "./mediaQueries/footer";
@import "./mediaQueries/postJob";