.one {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .flex-container {
        width: 80%;
        gap: 2rem;
        
        .content {
            width: calc(100% / 2 - 4rem);
            h2 {
                color: $registerGreen;
            }
            .flex-container {
                justify-content: space-between;
                border-bottom: 2px solid $lightgrey;
                h5 {
                    color: $registerGreen;
                }
                .fa-plus {
                    color: $registerGreen;
                    font-size: 1.6rem;
                }
            }
        }
        
    }
}
.two {
    width: 95%;
    margin: 0 auto;
    .flex-container {
        flex-direction: column;
        .flex-container {
            flex-direction: row;
            gap: 3rem;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            border-bottom: 3px solid $lightgrey;
            padding: 0 0 4rem 0;
            h2 {
                color: $registerGreen;
                margin-bottom: 0;
            }
            p {
                color: $registerGreen;
            }
        }
    }
}