html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.wrapper {
  margin: 0 auto;
  max-width: 1880px;
  width: 95%;
}

p {
  font-family: $heading2;
  font-size: 2rem;
  line-height: normal;
}

h5 {
  font-family: $heading2;
  font-size: 2rem;
}

button {
  font-family: $heading2;
  text-decoration: none;
}

li {
  font-family: $heading2;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: $heading1;
  font-size: 7rem;
}




.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  label,
          input {
            width: 125%;
          }
          label {
            font-family: $heading2;
            color: grey;
            font-size: 1.4rem;
            padding: 1rem 0 1rem 0;
          }
          input {
            outline: none;
            border: none;
            border: 2px solid grey;
            border-radius: 0.4rem;
            padding: 0.6rem;
          }
 
}

