html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.wrapper {
  margin: 0 auto;
  max-width: 1880px;
  width: 95%;
  min-width: 320px;
}

p {
  font-family: $heading2;
  font-size: 2rem;
  line-height: normal;
}

h5 {
  font-family: $heading2;
  font-size: 2rem;
}

button {
  font-family: $heading2;
  text-decoration: none;
}

li {
  font-family: $heading2;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: $heading1;
  font-size: 7rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  label,
  input {
    width: 125%;
  }
  label {
    font-family: $heading2;
    color: grey;
    font-size: 1.4rem;
    padding: 1rem 0 1rem 0;
  }
  input {
    outline: none;
    border: none;
    border: 2px solid grey;
    border-radius: 0.4rem;
    padding: 0.6rem;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.pages {
  width: 100%;
  max-width: 2080px;

  background: $registerGreen;
  .flex-container {
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;

    width: 95%;

    ul {
      display: flex;

      li:first-child {
        color: $lime;
        background: $lightgrey;
        border-radius: 4rem;
        border: 2px solid #fff;
        padding: 0.1rem;
        margin: 0 1rem 0 0;
      }

      li {
        color: #fff;
        position: relative;
        .job-dropdown {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0;
          margin: 0;
          li {
            padding: 1rem;
            border-bottom: 1px solid #ccc;
          }
        }
        a {
          color: #fff;
        }
      }
    }
    img {
      padding: 0 9rem;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: $heading2;
    button:nth-of-type(2) {
      cursor: pointer;
    }

    .fa-user {
      color: $lime;
      font-size: 2rem;
    }

    .current-user {
      color: $lime;
      padding: 0 6rem 0 0;
      margin: 0;
    }
    .sign-out {
      height: 10rem;
      color: $lime;

      &:hover .dropdown-menu,
      &:focus .dropdown-menu {
        opacity: 1;
      }
    }
    button {
      font-size: 1.4rem;
      font-weight: 600;
    }

    button:nth-child(1) {
      outline: none;
      border: none;
      background: none;
      color: #fff;
      border-right: 2px solid $lightgrey;
      padding: 0 2rem 0 6rem;
    }
    button:nth-child(2) {
      outline: none;
      border: none;
      background: none;
      color: $lightLime;
    }
    button:nth-child(3) {
      outline: none;
      color: black;
      border: none;
      background: $lime;
      padding: 1rem;
      border: 1px solid $registerGreen;
      border-radius: 4rem;
    }
  }
}

.content-container {
  padding: 0 0 6rem 0;
  background: $registerGreen;
  position: relative;
  h2 {
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 5.2rem;
    font-family: $heading1;
  }
  h5 {
    text-align: center;
    color: #fff;
    span {
      padding: 0 0.8rem;
    }
  }
  img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
