html {
  font-size: 62.5%;

  line-height: 1.2rem;
}

ul {
  margin: 0;
  list-style-type: none;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.wrapper {
    margin: 0 auto;
    max-width: 1580px;
    width: 95%;
}