html {
  font-size: 62.5%;

  
}

ul {
  margin: 0;
  list-style-type: none;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.wrapper {
    margin: 0 auto;
    max-width: 1880px;
    width: 95%;
}

p {
  font-family: $heading2;
  font-size: 2rem;
  line-height: normal;
}

h5 {
  font-family: $heading2;
  font-size: 2rem;
}

button {
  font-family: $heading2;
}