html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.wrapper {
  margin: 0 auto;
  max-width: 1880px;
  width: 95%;
}

p {
  font-family: $heading2;
  font-size: 2rem;
  line-height: normal;
}

h5 {
  font-family: $heading2;
  font-size: 2rem;
}

button {
  font-family: $heading2;
  text-decoration: none;
}

li {
  font-family: $heading2;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: $heading1;
  font-size: 7rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  label,
  input {
    width: 125%;
  }
  label {
    font-family: $heading2;
    color: grey;
    font-size: 1.4rem;
    padding: 1rem 0 1rem 0;
  }
  input {
    outline: none;
    border: none;
    border: 2px solid grey;
    border-radius: 0.4rem;
    padding: 0.6rem;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.pages {
  width: 100%;
  max-width: 2080px;

  background: $registerGreen;
  .flex-container {
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;

    width: 95%;

    ul {
      display: flex;

      li:first-child {
        color: $lime;
        background: $lightgrey;
        border-radius: 4rem;
        border: 2px solid #fff;
        padding: 0.1rem;
        margin: 0 1rem 0 0;
      }
      .dropdown {
        position: relative;
        li &:focus,
        &:hover .dropdown-menu {
          opacity: 1;
        }
        li {
          background: $registerGreen;
          border: none;
          // .triangle {
          //   width: 0;
          //   height: 0;
          //   border-left: 10px solid transparent;
          //   border-right: 20px solid transparent;
          //   border-bottom: 10px solid white;
          //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          //   position: absolute;
          //   opacity: 0;
          //   &:hover,
          //   &:focus {
          //     opacity: 1
          //   }
          // }
        }
        .dropdown-menu {
          position: absolute;
          top: calc(100% + 0.25rem);
          background: #fff;
          padding: 1rem;
          border-radius: 0.2rem;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          opacity: 0;

          transition: opacity 150ms ease-in-out;
          transform: translateY(0);
          left: -2rem;
        }
        .dropdown-menu.active {
          opacity: 1;
          transform: translateY(-10px);
        }
      }

      li {
        color: #fff;
        a {
          color: #fff;
        }
      }
    }
    img {
      padding: 0 9rem;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: $heading2;

    .dropdown {
      position: relative;
      .fa-user &:focus,
      &:hover .dropdown-menu {
        opacity: 1;
      }
      .fa-user {
        color: $lime;
        font-size: 2rem;
      }
      .dropdown-menu {
        position: absolute;
        top: calc(100% + 0.25rem);
        background: #fff;
        padding: 1rem;
        border-radius: 0.2rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
        transform: translateY(0);
        left: -16rem;
        background: #fff;
        min-height: 5rem;
        max-height: 20rem;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        .dropdown-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .current-user {
          color: $lime;
          padding: 0 6rem 0 0;
          margin: 0;
        }
        .sign-out {
          height: 10rem;
          color: $lime;
        }
      }
      &:hover .dropdown-menu,
      &:focus .dropdown-menu {
        opacity: 1;
      }
    }
    button {
      font-size: 1.4rem;
      font-weight: 600;
    }

    button:nth-child(1) {
      outline: none;
      border: none;
      background: none;
      color: #fff;
      border-right: 2px solid $lightgrey;
      padding: 0 2rem 0 6rem;
    }
    button:nth-child(2) {
      outline: none;
      border: none;
      background: none;
      color: $lightLime;
    }
    button:nth-child(3) {
      outline: none;
      color: black;
      border: none;
      background: $lime;
      padding: 1rem;
      border: 1px solid $registerGreen;
      border-radius: 4rem;
    }
  }
}

.content-container {
  padding: 0 0 6rem 0;
  background: $registerGreen;
  position: relative;
  h2 {
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 5.2rem;
    font-family: $heading1;
  }
  h5 {
    text-align: center;
    color: #fff;
    span {
      padding: 0 0.8rem;
    }
  }
  img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
