html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.wrapper {
  margin: 0 auto;
  max-width: 1880px;
  width: 95%;
}

p {
  font-family: $heading2;
  font-size: 2rem;
  line-height: normal;
}

h5 {
  font-family: $heading2;
  font-size: 2rem;
}

button {
  font-family: $heading2;
  text-decoration: none;
}

li {
  font-family: $heading2;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: $heading1;
  font-size: 7rem;
}