
.error-page { 
    width: 85%;
    margin: 0 auto;
    .flex-container {
        gap:10rem;
        align-items: center;

        .image-container {
            padding: 16rem 0 0 0;
            img {
                height: 50%;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .error {
                color: $green;
                margin: 0;
                padding: 10rem 0 0 0;
            } 
            h2:nth-of-type(2) {
                margin: 0;
            }
            p {
                font-weight: 600;
                width: 70%;
               
            } 
            a {
                display: flex;
                background: $lime;
                width: 70%;
                border-radius: 4rem;
                align-items: center;
                padding: 0 1rem 0 3rem;
                justify-content: space-between;
                margin: 6rem 0 0 0;
                img {
                    width: 15%;
                    height: 20%;
                }
                p {
                    text-transform: uppercase;
                    font-size: 1.4rem
                };
            } 
        }
    }   
}