.hamburger-menu {
  position: relative;
  display: none;
  width: 100%;
  margin: 0 auto;
  background: $registerGreen;

  .hamburger-checkbox {
    display: none;

    &:checked ~ .hamburger-label .hamburger-icon {
      background-color: transparent;

      &::before {
        transform: translateY(0px) rotate(45deg);
      }

      &::after {
        transform: translateY(0px) rotate(-45deg);
      }
    }
  }

  .hamburger-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 28px;
    width: 28px;
    cursor: pointer;
    margin: 1rem 0 0 1rem;

    .hamburger-icon {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $lime;
      transition: all 0.3s ease-in-out;
      border-radius: 9999px;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $lime;
        transition: all 0.3s ease-in-out;
        border-radius: 9999px;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }
  }

  .hamburger-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $registerGreen;
    width: 40%;
    height: 100vh;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 999;

    &.open {
      opacity: 1;
      visibility: visible;
    }
    ul {
        list-style: none;
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.3s ease-in;
        padding: 0;
        
        li {
            color: $lime;
            font-family: $heading2;
            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
            width: 100%;
            padding: 0 0 0 2rem;
            &:hover,
            &:focus {
                background: $green;
                border-radius: 1rem;
            }
            .fa-caret-down {
                padding: 0 0 0 11rem;
            }
            a {
              color: $lime;
              font-size: 1.6rem;
              padding: 1.6rem 0;
              
              &:hover,
              &:focus {
                cursor: pointer;
              }
            }
            
            
        }
        li:nth-of-type(1) {
            background: $green;
            border-radius: 1rem;
        }
        li:nth-of-type(6) {
            border-bottom: 1px solid $lime;
            width: 100%;
            padding: 0 0 1rem 2rem;
        }
        
        
    }
  }

  .hamburger-checkbox:checked ~ .hamburger-content {
    opacity: 1;
    visibility: visible;
  }
}
