nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-family: $heading2;
    letter-spacing: 1.2px;
    font-size: 2rem;
  }
  .login-buttons {
    button {
      font-size: 2rem;
      outline: none;
      border: none;
      background: none;
      font-family: $heading2;

      &:hover,
      &:focus {
        color: #fff;
        background: $green;
        border-radius: 5rem;
        padding: 1.2rem;
        transition: ease 0.3s;
      }
    }
  }
}
