
  nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      margin: 0 0 0 2rem;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      font-family: $heading2;
      letter-spacing: 1.2px;
      font-size: 2rem;
    }
    .login-buttons {
      button {
        font-size: 2rem;
        outline: none;
        border: none;
        background: none;
        font-family: $heading2;

        &:hover,
        &:focus {
          color: #fff;
          background: $green;
          border-radius: 5rem;
          padding: 1.2rem;
          transition: ease 0.3s;
        }
      }
    }
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    h1 {
        font-style: $heading1;
        font-size: 9rem;
        text-align: center;
        width: 50%;
        line-height: normal;
        
    }
    p {
        font-size: 2rem;
        font-family: $heading2;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        div {
            display: flex;
            flex-direction: column;
        }
    }

  }