nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 0 0 0 2rem;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-family: $heading2;
    letter-spacing: 1.2px;
    font-size: 2rem;
  }
  .login-buttons {
    button {
      font-size: 2rem;
      outline: none;
      border: none;
      background: none;
      font-family: $heading2;

      &:hover,
      &:focus {
        color: #fff;
        background: $green;
        border-radius: 5rem;
        padding: 1.2rem;
        transition: ease 0.3s;
      }
    }
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  background: $lightgrey;
  h1 {
    font-style: $heading1;
    font-size: 9rem;
    text-align: center;
    width: 50%;
    line-height: normal;
  }
  p {
    font-size: 2rem;
    font-family: $heading2;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    background: #fff;
    div {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.4rem;
        padding: 0 0 1rem 0;
      }
      #jobs,
      #location,
      #title {
        font-style: $heading2;
        font-size: 1.4rem;
      }

      select {
        border: none;
        font-size: 1.2rem;
        font-family: $heading2;
      }
      input {
        border: none;
      }
    }
    button {
      border: none;
      background: $green;
      color: #fff;
      font-family: $heading2;
      font-size: 1.2rem;
      padding: 0.8rem 2rem;
      border-radius: 0.4rem;
      text-transform: uppercase;
      height: 75%;
    }
  }
  h5 {
    font-family: $heading2;
    font-size: 2.4rem;
    border-bottom: 3px solid black;
    padding: 2rem 0;
  }
}

.wrapper {
  .categories {
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 4rem;
      font-family: $heading2;
    }
    p {
      font-size: 2rem;
      border-bottom: 2px solid green;
      line-height: normal;
      color: green;
      font-family: $heading1;
    }
  }
  .grid-container {
    margin: 4rem 0 0 0;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    // grid-auto-rows: minmax(100px, auto);
    div {
      border: 2px solid $lightgrey;
      border-radius: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover,
      &:focus {
        border: 2px solid green;
        transition: ease-in-out 0.3s;
      }
      .fa-code {
        font-size: 2rem;
      }
      h5 {
        font-size: 2rem;
        text-align: center;
        font-family: $heading2;
      }
      p {
        font-size: 1.4rem;
        text-align: center;
        font-family: $heading2;
      }
    }
  }
}
