nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 0 0 0 2rem;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-family: $heading2;
    letter-spacing: 1.2px;
    font-size: 2rem;
  }
  .login-buttons {
    button {
      font-size: 2rem;
      outline: none;
      border: none;
      background: none;
      font-family: $heading2;

      &:hover,
      &:focus {
        color: #fff;
        background: $green;
        border-radius: 5rem;
        padding: 1.2rem;
        transition: ease 0.3s;
      }
    }
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  background: $lightgrey;
  h1 {
    font-style: $heading1;
    font-size: 9rem;
    text-align: center;
    width: 50%;
    line-height: normal;
  }
  p {
    font-size: 2rem;
    font-family: $heading2;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    background: #fff;
    div {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.4rem;
        padding: 0 0 1rem 0;
      }
      #jobs,
      #location,
      #title {
        font-style: $heading2;
        font-size: 1.4rem;
      }

      select {
        border: none;
        font-size: 1.2rem;
        font-family: $heading2;
      }
      input {
        border: none;
      }
    }
    button {
      border: none;
      background: $green;
      color: #fff;
      font-family: $heading2;
      font-size: 1.2rem;
      padding: 0.8rem 2rem;
      border-radius: 0.4rem;
      text-transform: uppercase;
      height: 75%;
    }
  }
  h5 {
    font-family: $heading2;
    font-size: 2.4rem;
    border-bottom: 3px solid black;
    padding: 2rem 0;
  }
}

.wrapper {
  .categories {
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 4rem;
      font-family: $heading2;
    }
    p {
      font-size: 2rem;
      border-bottom: 2px solid green;
      line-height: normal;
      color: green;
      font-family: $heading1;
    }
  }
  .grid-container {
    margin: 4rem 0 0 0;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    // grid-auto-rows: minmax(100px, auto);
    div {
      border: 2px solid $lightgrey;
      border-radius: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem;
      &:hover,
      &:focus {
        border: 2px solid green;
        transition: ease-in-out 0.3s;
      }
      .fa-code {
        font-size: 2rem;
      }
      h5 {
        font-size: 2rem;
        text-align: center;
        font-family: $heading2;
      }
      p {
        font-size: 1.4rem;
        text-align: center;
        font-family: $heading2;
      }
    }
  }
}

.find-job {
  margin: 4rem 0 0 0;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;

  img,
  .job-quick {
    width: calc(50% - 10rem);
    height: 65rem;
  }
  img {
    border-radius: 4rem 0 0 4rem;
  }
  .job-quick {
    background: $brownCard;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 4rem 4rem 0;

    h2 {
      font-family: $heading1;
      font-size: 7.2rem;
      color: #fff;
      line-height: normal;
      margin: 0 0 4rem 0;
    }
    p {
      font-size: 2rem;
      color: #fff;
      line-height: 3rem;
      font-family: $heading2;
      margin: 4rem 0 0 0;
    }
    h2,
    p {
      margin: 2.8rem auto;
      width: 75%;
    }
    .find-your-job {
      border: 2px solid #fff;
      border-radius: 5rem;
      width: 75%;
      margin: 0rem;
      padding: 0;

      .underline {
        border-bottom: 1px solid #fff;
      }
    }
  }
}
.flex-container {
  margin: 8rem 0 0 0;
  align-items: center;
  justify-content: space-evenly;
  .stats {
    h3 {
      font-size: 4rem;
      font-family: $heading2;
    }
    p {
      font-size: 1.4rem;
      font-family: $heading2;
      text-align: center;
    }
  }
}

.trusted {
  width: 90%;
  h3 {
    font-family: $heading1;
    font-size: 5.8rem;
    line-height: normal;
    width: 35%;
  }
  .flex-container {
    gap: 3rem;

    .card {
      border-radius: 1.6rem;
      padding: 2rem;

      h5 {
        font-family: $heading2;
        font-size: 2rem;
        color: #fff;
      }
      p {
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 0 0 4rem 0;
      }
      .flex-container {
        justify-content: space-between;
        .rating {
          border: none;
        }
      }
    }

    .card:first-child {
      background: $greenCard;
    }
    .card:nth-child(2) {
      background: $brownCard;
    }
  }
}

.find-talent {
  .flex-container {
    gap: 10rem;

    .image-container {
      position: relative;
      width: 55%;

      img:nth-child(1) {
        position: absolute;
        top: -368px;
        right: 136px;
      }
      img:nth-child(2) {
        position: absolute;
        bottom: 153px;
        left: 96px;
      }
      img:nth-child(3) {
        position: absolute;
        right: 78px;
        bottom: -178px;
      }
      img:nth-child(4) {
        position: absolute;
        top: -92px;
      }
    }
    .content {
      display: flex;
      width: 40%;
      flex-direction: column;
      p:nth-child(1) {
        font-size: 1.4rem;
        color: $lightgrey;
      }
      h3 {
        font-family: $heading1;
        font-size: 8rem;
      }
      .flex-container {
        justify-content: space-between;
        margin-top: 0;
      }
      button {
        color: $greenCard;
        border: 2px solid $greenCard;
        border-radius: 0.4rem;
        font-size: 1.4rem;
        background: #fff;
        width: 25%;
        padding: 1rem 2rem;
        font-weight: 600;
      }
    }
  }
}

.questions-answers {
  h3 {
    text-align: center;
    font-size: 8rem;
    font-family: $heading1;
  }
  .content {
    background: $lightgrey;
    width: 75%;
    margin: 0 auto;
    border-radius: 2rem;
    .flex-container {
      justify-content: space-between;
      margin: 0 4rem 0 4rem;
      border-bottom: 2px solid grey;
      .fa-plus {
        font-size: 1.4rem;
        background: #fff;
        padding: 0.4rem;
        border-radius: 50%;
      }
    }
    .flex-container:nth-child(5) {
      border-bottom: none;
    }
  }
  p {
    margin: 1rem auto;
    text-align: center;
    border: 2px solid $greenCard;
    width: 35%;
    padding: 0.4rem 0;
    border-radius: 2rem;
    font-weight: 600;

    span {
      color: $green;
      border-bottom: 1px solid $green;
    }
  }
}
.job-portal {
  .flex-container {
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    h4 {
      font-family: $heading1;
      font-size: 3.6rem;
      margin-bottom: 0;
    }
    .button-container {
      display: flex;
      gap: 1rem;
      margin: 2rem 0 0 0;

      button {
        border-radius: 1rem;
        font-size: 1.4rem;
        padding: 1rem;
      }
      button:nth-child(1) {
        background: #fff;
        color: $green;
        border: 2px solid $green;

        font-size: 1.4rem;
        &:hover,
        &:focus {
          background: $green;
          color: #fff;
          transition: ease-in-out 0.3s;
        }
      }
      button:nth-child(2) {
        background: $green;
        color: #fff;
        border: none;
        padding: 1rem 2rem;
        &:hover,
        &:focus {
          background: #fff;
          color: $green;
          transition: ease-in-out 0.3s;
          border: 2px solid $green;
        }
      }
    }
  }
}

footer {
  .flex-container {
    align-items: flex-start;
    li:first-child {
      font-weight: 600;
      font-size: 1.8rem;
    }
    li:not(li:first-child) {
      &:hover,
      &:focus {
        color: $greenCard;
        transition: ease 0.3s;
      }
    }
  }
  .footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 0 0;
    .content {
      display: flex;
      gap: 1rem;
      p {
        font-weight: 600;
      }
    }
    .socials {
      display: flex;
      gap: 2rem;
      span {
        font-size: 1.4rem;
      }
    }
  }
}
