.job-search {
  display: flex;
  align-items: center;
  justify-content: stretch;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.8rem;
  .input-search,
  .input-category {
    display: flex;
    flex-direction: column;
    width: 100%;

    font-family: $heading2;
    padding: 1rem 2rem;
    align-items: flex-start;
    label {
      padding: 0 0 2rem 0;
    }
    input {
      border: none;
      padding: 0 0 0.4rem 0;
      height: 2rem;
      font-family: $heading2;
      font-size: 1.8rem;
      color: grey;
    }
    input::placeholder,
    select {
      color: black;
      font-size: 1.8rem;
    }
    select {
      padding: 0 15rem 0 0;
      border: none;
      height: 2.2rem;
      background: #fff;
    }
  }
  .input-category {
    .input-category-flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .job-search-btn {
    height: 8rem;
    width: 40rem;
    color: $registerGreen;
    background: #d2f34c;
    border: none;
    border-radius: 0 0.8rem 0.8rem 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.job-search-results {
  width: 95%;
  max-width: 2080px;
  margin: 0 auto;
  position: relative;
  .filter-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $lightgrey;
    border-radius: 1rem;
    padding: 1rem;
    margin: 6rem 0 0 0;

    .filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      .locations {
        position: relative;
        width: 100%;
        button {
          font-family: $heading2;
          border: 2px solid $registerGreen;
          border-radius: 2rem;
          font-size: 1.6rem;
          color: $registerGreen;
          padding: 1rem;
          font-weight: 600;
          margin: 0 0 0.4rem 0;
        }
        .form-menu {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 125%;
          padding: 1rem 4rem;
          border: 2px solid $registerGreen;
          position: relative;

          z-index: 10;
          position: absolute;
          opacity: 0;
          background: $lightgrey;
          align-items: center;
          justify-content: flex-start;

          border-radius: 1rem;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          &.open {
            opacity: 1;
          }
          .location-filter {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.6rem;
            padding: 2rem 0;

            label {
              font-family: $heading2;
              color: black;
              font-size: 1.4rem;
              font-weight: 600;
            }
          }
          button {
            border-radius: 0.4rem;
            background: $registerGreen;
            color: #fff;
            margin: 2rem 0 0 0;
            transition: ease 0.3s;
            &:hover,
            &:focus {
              background: $green;
              border: 2px solid $green;
            }
          }

          .close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            color: $registerGreen;
            transition: ease 0.3s;
            &:hover,
            &:focus {
              color: $green;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2rem auto;
    border: 2px solid $lightgrey;
    border-radius: 1rem;
    padding: 0 2rem;

    .flex-container {
      gap: 2rem;
      align-items: center;
      justify-content: center;
      h5 {
        font-size: 1.8rem;
        width: 24rem;
      }
    }
    .flex-column {
      gap: 1rem;
      align-items: flex-start;
      justify-content: center;
      width: 40rem;
    }
    .logo {
      width: 4rem;
    }
    .fulltime,
    .parttime,
    .part-time,
    .full-time,
    .Full-time {
      font-family: $heading2;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    .parttime,
    .part-time {
      color: red;
    }
    .fulltime,
    .full-time,
    .Full-time {
      color: $green;
    }
    .salary,
    .field {
      color: black;
      font-weight: 600;
      font-family: $heading2;
      font-size: 1.4rem;
    }
    .location {
      font-family: $heading2;
      color: grey;
      font-size: 1.2rem;
    }
    .buttons {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 14%;
      button,
      a {
        background: $lime;
        font-family: $heading2;
        border: 2px solid $registerGreen;
        padding: 1rem;
        border-radius: 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: $registerGreen;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.job {
  h5 {
    margin: 0;
    padding: 8rem 0 0 0;
  }
  .job-details {
    .container {
      width: 65%;
      margin: 0 auto;
      padding: 8rem 0 0 0;
      gap: 4rem;
      display: flex;

      .content-card {
        padding: 2rem;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fa-dollar-sign,
        .fa-location-dot,
        .fa-suitcase {
          color: $green;
          font-size: 2rem;
          padding: 0 0 4rem 0;
        }
        p:nth-child(2) {
          margin-bottom: 1rem;
          color: grey;
        }
        p:nth-child(3) {
          margin: 0;
        }
      }
    }
    .flex-column {
      width: 65%;
      margin: 0 auto;
      align-items: flex-start;
      .content {
        h4 {
          font-family: $heading2;
          font-size: 2.2rem;
        }
        p {
          color: grey;
        }
        ul {
          padding: 0;
          .flex-container {
            justify-content: flex-start;
            .fa-check {
              background: $green;
              color: #fff;
              padding: 0.6rem;
              border-radius: 50%;
              margin: 0 2rem 0 0;
            }
            .fa-circle {
              margin: 0 2rem 0 0;
            }
            li {
              color: grey;
            }
          }
        }
      }
    }
  }
}
