.job-search {
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: #fff;
    width: 50%;
    ;
    margin: 0 auto;
    border-radius: 0.8rem;
    .input-search,
    .input-category {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        font-family: $heading2;
        padding: 1rem 2rem;
        align-items: flex-start;
        label {
            padding: 0 0 2rem 0;
        }
        input
         {
            border: none;
            padding: 1rem 0 0.4rem 0;
            height: 2rem;
            
            
        }
        input::placeholder,
        select {
            color: black;
            font-size: 1.8rem;           
        }
        select {
            padding: 0 15rem 0 0;
            border: none;
            height: 2.2rem;
        }
    }
    .input-category {
        .input-category-flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .job-search-btn {
        height: 8rem;
        width: 40rem;
        color: $registerGreen;
        background: #d2f34c;
        border: none;
        border-radius: 0 0.8rem 0.8rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        
    }
    }