.post-job {
    background: $lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $heading2;
    form {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        
        margin: 4rem auto;
        background: #fff;
        border-radius: 1rem;
        h4 {
            font-family: $heading2;
            color: $green;
            text-align: left;
            font-size: 2.2rem;
        }
        label {
            color: black;
            font-weight: 600;
            padding: 0 0 1rem 0;
        }
        input, select {
            border: none;
            border: 2px solid $lightgrey;
            padding: 1rem;
            border-radius: 0.4rem;
        }
        .job-title {
            display: flex;
            flex-direction: column;
            padding: 0 0 2rem 0;
            label {
                padding: 0 0 2rem 0;
            }
        }
        .flex-container {
            justify-content: space-between;
            padding: 2rem 0;
            flex-wrap: wrap;
            align-items: center;
            .category,
            .job-type,
            .salary {
                width: calc(50% - 3rem);
                display: flex;
                flex-direction: column;
                
                
            }
            .salary {
                display: flex;
                justify-content: center;
                
            }


        }
        .skills {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .skill-array {
            display: flex;
            gap: 1rem;
            padding: 2rem 0 0 0;
            div {
                background: #31795A;
                color: $lightgrey;
                padding: 1rem 2rem;
                font-weight: 600;
                border-radius: 2rem;
            }
        }
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            .experience,
            .qualification,
            .industry,
            .career-level {
                display: flex;
                flex-direction: column;
                
                width: 100%;
                padding: 2rem 0;
            }
        }
        .address {
            display: flex;
            flex-direction: column;

        }
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .country,
            .city,
            .state {
                display: flex;
                flex-direction: column;
                padding: 2rem 0;
            }
        }
        .map-location {
            display: flex;
            flex-direction: column;
          
        }
        .map {
            height: 500px;
            padding: 4rem 0;
            width: 100%;
            .leaflet-container {
                height: 100%;
                width: 100%;
            }
        
        }
        .button-container {
            padding: 2rem 0 0 0;
            display: flex;
            gap: 1rem;
            width: 30%;
            button:first-child {
                background-color: $green;
                color: #fff;
                &:hover,
                &:focus {
                    background-color: $registerGreen;
                }
            }
            button {
                border: none;
                padding: 1rem 2rem;
                font-size: 1.4rem;
                font-weight: 600;
                transition: ease-in-out 0.3s;
                border-radius: 0.6rem;
                width: 100%;
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: gray;
                    color: #fff;
                }

            }
            
        }

    }
    
}