.pages {
  width: 100%;
  max-width: 2080px;

  background: $registerGreen;
  .flex-container {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    width: 95%;

    li:first-child {
      color: $lime;
      background: $lightgrey;
      border-radius: 4rem;
      border: 2px solid #fff;
      padding: 0.1rem;
      margin: 0 1rem 0 0;
    }
    li {
      color: #fff;
      a {
        color: #fff;
      }
    }
    .buttons {
      display: flex;
      gap: 1rem;
      font-family: $heading2;
      button {
        font-size: 1.4rem;
        font-weight: 600;
      }
      button:nth-child(1) {
        outline: none;
        border: none;
        background: none;
        color: #fff;
        border-right: 2px solid $lightgrey;
        padding: 0 2rem 0 6rem;
      }
      button:nth-child(2) {
        outline: none;
        border: none;
        background: none;
        color: $lightLime;
      }
      button:nth-child(3) {
        outline: none;
        color: black;
        border: none;
        background: $lime;
        padding: 1rem;
        border: 1px solid $registerGreen;
        border-radius: 4rem;
      }
    }
  }

  .register-form {
    background: $lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container {
      background: #fff;
      margin: 10rem 0;
      border-radius: 2rem;
      padding: 4rem;

      h2 {
        margin-top: 0;
        color: $registerGreen;
        text-align: center;
        font-size: 5.2rem;
        font-family: $heading1;
      }
      .button-select {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightgrey;
        width: 75%;
        margin: 0 auto;

        border-radius: 4rem;
        margin-top: 0;
        margin-bottom: 0;

        button {
          outline: none;
          border: none;
          background: none;
          font-family: $heading2;
          width: 100%;
          padding: 0.8rem;
          font-size: 1.4rem;
          &:focus,
          &:hover {
            border: 1px solid $green;
            transition: border 0.3s ease-in;
            color: green;
            background: #fff;
            border-radius: 4rem;
            height: 100%;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        .label {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          label,
          input {
            width: 75%;
          }
          label {
            font-family: $heading2;
            color: grey;
            font-size: 1.4rem;
            padding: 1rem 0 1rem 0;
          }
          input {
            outline: none;
            border: none;
            border: 2px solid grey;
            border-radius: 0.4rem;
            padding: 0.6rem;
          }
        }
        button {
          color: #fff;
          background-color: $registerGreen;
          width: 75%;
          border-radius: 0.4rem;
          padding: 0.8rem;
          margin: 1rem 0 0 0;
          font-size: 1.4rem;
        }
        span {
          font-family: $heading2;
          font-size: 2rem;
          padding: 2rem 0 0 0;
          
        }
        .flex-container {
          .sign-in-buttons {
            display: flex;
            border: none;
            gap: 2rem;
            button {
              background: #fff;
              border: 2px solid $lightgrey;
              
              &:hover,
              &:focus {
                border: 2px solid $registerGreen;
                transition: ease 0.3s;
              }
            }
          }
        }
      }
      p {
        text-align: center;
        .underline {
          cursor: pointer;
          color: $green;
          border-bottom: 1px solid $green;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 90%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    h2 {
      color: $registerGreen;
      margin-bottom: 0;
      a {
        color: $green;
        
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inputs {
        width: 75%;
      }
      .login-btn {
        width: 95%;
        margin: 3rem 0;
        color: #fff;
        background: $green;
        font-family: $heading2;
        font-size: 1.4rem;
        padding: 1rem 0;
        border: 1px solid $green;
        border-radius: 0.6rem;
      }
      span {
        font-family: $heading2;
        font-size: 1.8rem;
      }
      .flex-container {
        flex-direction: column;
        .sign-in-buttons {
          gap: 2rem;
          display: flex;
          padding: 2rem 0;

          button {
            padding: 1rem 2rem;
            background: #fff;
            border: 2px solid $lightgrey;
            border-radius: 1rem;
          }
          
        }
        a {
          color:$registerGreen;
          border-bottom: 1px solid $registerGreen;
        }
        .close-modal {
          position: absolute;
          top: -14px;
          right: -14px;
          font-family: $heading2;
          color: #fff;
          background: $registerGreen;
          border: 2px solid $registerGreen;
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          font-size: 1.6rem;

        }
      }
    }
  }
}
