.register {
  max-width: 2080px;
  nav {
    width: 100%;

    background: $registerGreen;
    .flex-container {
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 2rem;
      width: 95%;
      li:first-child {
        color: $lime;
        background: $lightgrey;
        border-radius: 4rem;
        border: 2px solid #fff;
        padding: 0.1rem;
        margin: 0 1rem 0 0;
      }
      li {
        color: #fff;
        a {
          color: #fff;
        }
      }
      .buttons {
        display: flex;
        gap: 1rem;
        font-family: $heading2;
        button {
          font-size: 1.4rem;
          font-weight: 600;
        }
        button:nth-child(1) {
          outline: none;
          border: none;
          background: none;
          color: #fff;
          border-right: 2px solid $lightgrey;
          padding: 0 2rem 0 6rem;
        }
        button:nth-child(2) {
          outline: none;
          border: none;
          background: none;
          color: $lightLime;
        }
        button:nth-child(3) {
          outline: none;
          color: black;
          border: none;
          background: $lime;
          padding: 1rem;
          border: 1px solid $registerGreen;
          border-radius: 4rem;
        }
      }
    }
  }
  .content-container {
    padding: 0 0 6rem 0;
    background: $registerGreen;
    position: relative;
    h2 {
      margin-top: 0;
      color: #fff;
      text-align: center;
      font-size: 5.2rem;
      font-family: $heading1;
    }
    h5 {
      text-align: center;
      color: #fff;
    }
    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .register-form {
    background: $lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container {
      background: #fff;
      margin: 10rem 0;
      border-radius: 2rem;
      padding: 4rem;

      h2 {
        margin-top: 0;
        color: $registerGreen;
        text-align: center;
        font-size: 5.2rem;
        font-family: $heading1;
      }
      .button-select {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightgrey;
        width: 90%;
        margin: 0 auto;

        border-radius: 4rem;
        margin-top: 0;
        margin-bottom: 0;

        button {
          outline: none;
          border: none;
          background: none;
          font-family: $heading2;
          width: 100%;
          padding: 0.8rem;
          font-size: 1.4rem;
          &:focus,
          &:hover {
            border: 1px solid $green;
            transition: border 0.3s ease-in;
            color: green;
            background: #fff;
            border-radius: 4rem;
            height: 100%;

            
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem ;
        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            label,
            input {
                width: 225%;
            }
            label {
                font-family: $heading2;
                color: grey;
                font-size: 1.4rem;
                padding: 1rem 0 1rem 0;
            }
            input {
                outline: none;
                border: none;
                border: 2px solid grey;
                border-radius: 0.4rem;
                padding: 0.6rem;
            }
        }
        button {
            color: #fff;
            background-color: $registerGreen;
            width: 123%;
            border-radius: 0.4rem;
            padding: 0.8rem ;
            margin: 1rem 0 0 0;
            font-size: 1.4rem;
        }
      }
      p {
        text-align: center;
        .underline {
            color: $registerGreen;
            border-bottom: 1px solid $registerGreen;
        }
      }
    }
  }
}
