$dark: #254135;
$green: #31795A;
$light: #E9F2EF;
$lime: #D2F34C;
$lightgrey: #f5f5f5;

$lightLime: #e3ff75;

$brownCard: #755146;
$greenCard: #249F47;

$registerGreen: #244034;

$heading1: 'EB Garamond', serif;
$heading2: 'Montserrat', sans-serif;